﻿@using Reports.Web.Core
@model Reports.Web.Core.Models.Expenses.DateRangeModel

<div class="expenses-range">
    <form class="form-inline" role="form" id="expenses-range-form">
        <div class="form-group">
            <a id="prev-month">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>

            @Html.LabelFor(m => m.Start, "from")
            <input name="start" type="date" id="range-start" value="@Model.Start.ToString(Utils.InvariantDateFormat)" />

            @Html.LabelFor(m => m.End, "to")
            <input name="end" type="date" id="range-end" value="@Model.End.ToString(Utils.InvariantDateFormat)" />
        
            <a id="next-month">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>

        </div>

    </form>
</div>