﻿@model Reports.Web.Core.Models.Expenses.ExpensesByTagReportModel

<div class="expenses-reports">
    
    <h3 class="expenses-total">Spent so far: @Model.Total.ToString("F2")</h3>

    @foreach (var byTag in Model.Amounts)
    {
        <div class="row">
            <div class="col-md-3 tag-name">
                <a class="icon expense-tag" title="Click to remove from the report">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <span class="tag-label">@byTag.Tag</span>
            </div>

            <div class="col-md-9">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="@byTag.Percent" aria-valuemin="0" aria-valuemax="100" style="width: @byTag.Percent%;">
                        @{ string amount = string.Format("{0:F2} ({1:F1}%)", byTag.Amount, byTag.Percent);}
                        @if (byTag.Percent > 80)
                        {
                            @amount
                        }
                    </div>
                    @if (byTag.Percent <= 80)
                    {
                        <span class="progress-text">@amount</span>
                    }
                </div>
            </div>
        </div>
    }
</div>
