﻿@model Reports.Web.Core.Models.Expenses.DateRangeModel

<div>
    <h2>Expenses</h2>

    @{ Html.RenderPartial("ExpensesRange", Model); }
    
    <div class="row">
        <div id="expenses-container" class="col-md-9"></div>
        <div id="ignored-tags-container" class="col-md-3 ignored-tags">
            <h3>Ignore:</h3>
            <ul>
            </ul>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        requirejs(["app/expenses"], function(expenses) {
            expenses.init({
                endpoint: "@Url.Action("Expenses")"
            });
        })
    </script>
}

