﻿<h1>Welcome to Reports</h1>

<div class="actions-menu">
    @Html.ActionLink("See how much you spent", "Index", "Expenses", null, new { @class = "btn btn-lg btn-primary" })
    @Html.ActionLink("Import expenses", "Index", "Batch", null, new { @class = "btn btn-lg btn-primary" })
</div>