﻿a:hover {
    cursor: pointer;
}

a.icon {
    vertical-align: middle;
}

a.icon:hover {
    text-decoration: none;
}

.body-content {
    padding-top: 60px;
}

.actions-menu a {
    width: 240px;
}

.expenses-range {
    margin-bottom: 10px;
}

.expenses-range input + label {
    margin-left: 5px;
}

.expenses-range .range-subheader {
    font-weight: bold;
    font-size: 1.3em;
}

.expenses-reports .progress {
    height: 30px;
}

.expenses-reports .progress .progress-bar {
    line-height: 30px;
}

.expenses-reports .progress .progress-text {
    font-size: 12px;
    line-height: 30px;
    margin-left: 8px;
}

.expenses-reports .tag-name {
    line-height: 30px;
}

.expenses-reports .expenses-total {
    margin-bottom: 20px;
}

.ignored-tags ul {
    list-style-type: none;
    padding: 0;
}

.batch-import textarea {
    height: 240px;
    width: 660px;
}

.batch-import input[type=submit] {
    margin-top: 10px;
}

.batch-expenses-table .tags select {
    width: 200px;
}

.table.batch-expenses-table tbody td {
    vertical-align: middle;
}