﻿@model Reports.Web.Core.Models.Batch.BatchExpensesSubmitModel

<h2>Submit expenses</h2>

@using (Html.BeginForm("Submit", "Batch"))
{
    <table class="table batch-expenses-table" id="batch-expenses-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Tags</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Expenses)
            {
                <tr>
                    <td class="date">@item.Date</td>
                    <td class="amount">@item.Amount</td>
                    <td class="description">@item.Description</td>
                    <td class="tags">
                        @*<input type="text" value="@item.Tags"/>*@

                        <select multiple="multiple" class="form-control">
                            @foreach (var tag in Model.Tags)
                            {
                                <option>@tag</option>
                            }
                        </select>

                    </td>
                    <td>
                        <a title="remove line" class="remove-line">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

    <input id="submit-button" type="button" class="btn btn-primary" value="Submit" />
}
