﻿@model Reports.Web.Core.Models.Batch.TextModel

<div class="batch-import">
    <h2>Batch expenses import</h2>
    
    @using (Html.BeginForm())
    {
        @Html.TextAreaFor(m => m.Text)
        <br/>
        <input type="submit" value="Parse" class="btn btn-primary"/>
    }

</div>
