﻿@model Reports.Web.Core.Models.Batch.BatchExpensesSubmitModel

<link rel="stylesheet" href="@Url.Content("~/Content/chosen.min.css")"/>
<link rel="stylesheet" href="@Url.Content("~/Content/chosen-bootstrap.css")"/>

<div id="batch-expenses-table-container">
    @{Html.RenderPartial("ExpensesTable", Model);}
</div>

@section scripts
{
    <script type="text/javascript">
        require(["app/batch"]);
    </script>
}
