﻿<h2>Done!</h2>

<div>
    @Html.ActionLink("Start over", "Index", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("View expenses", "Index", "Expenses", null, new { @class = "btn btn-primary" })
</div>